/* === table === */
.tableContacts {
    margin-top: 1rem;
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.theadContacts {
    width: inherit;
    border-bottom: 1px solid #dadce0;

    font-size: 1rem;
    color: #5f6874;
    font-weight: 500;
}

.tbodyContacts {
    width: inherit;

    font-weight: 400;
}

.tdContacts, .contactsLength {
    vertical-align: middle;
    line-height: 1.5rem;
    letter-spacing: .01rem;
}

.tdContacts {
    padding: 12px 10px;
}

.contactsLength {
    font-size: .9rem;
    padding: 10px 10px;
    color: #6c6d70;
}

.contactName {
    display: flex;
    align-items: center;
}

.contactImg {
    width: 35px;
    height: 35px;
    border: 1px solid #555;
    background-color: #999;
    border-radius: 50%;
    margin-right: 15px;
}
/* === /table === */