/* === header === */

.header {
	display: flex;
	padding: 1rem;
	font-size: calc(10px + 2vmin);
	align-items: center;  
}
  
.header-content {
	display: flex;
	align-items: center;
}
  
.Contacts {
	height: 46px;
	color: #5f6874;
	margin: 0;
	padding: 0;
	font-size: inherit;
	vertical-align: middle;
	font-weight: 400;
}
  
.menu {
	padding: 10px;
	margin-right: 5px;
}

.menu:hover {
	padding: 10px;
	border-radius: 50%;
	background-color: #eff0f3;
}

.contactsImg {
	margin-right: 10px;
	width: 40px;
	height: 40px;
}

.logout {
	margin-left: auto;

	color: black; 
	background-color: #ffffff;
	padding: 2px 10px;
	letter-spacing: .05rem;
	font-size: calc(10px + 1vmin);
	text-decoration: none;
	border: 1px solid #e8f0fe;
	border-radius: 5px;
}

/* === /header === */