* {
  box-sizing: border-box;
}

.App {
  padding: 1rem;
}

/* === header === */

.header {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.header div {
  display: flex;
  align-items: center;
}

.Contacts {
  color: #5f6874;
  margin: 0;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
}

.menu {
  margin-right: 10px;
}

.contactsImg {
  margin-right: 15px;
  width: 35px;
  height: 35px;
  background-color: rgb(71, 84, 202);
  border-radius: 50%;
}

.contactImg {
  width: 35px;
  height: 35px;
  border: 1px solid #555;
  background-color: #999;
  border-radius: 50%;
}

.link {
  color: #5f6874;
  padding: 2px 10px;
  letter-spacing: .05rem;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
  border: 1px solid #dadce0;
  border-radius: 5px;
}
/* === /header === */

/* === table === */
.tableContacts {
  margin-top: 1rem;
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

.theadContacts {
  display: table-header-group;
  width: inherit;
  border-bottom: 1px solid #dadce0;

  font-size: 1rem;
  color: #5f6874;
  font-weight: 500;
}

.tbodyContacts {
  display: table-header-group;
  width: inherit;

  font-weight: 400;
}

.tdContacts {
  padding: 12px 10px;
  text-align: left;
  letter-spacing: .01rem;
  
  vertical-align: middle;
  line-height: 1.5rem;
}

.contactsLength {
  font-size: .9rem;
  padding: 10px 10px;
  text-align: left;
  letter-spacing: .01rem;
  color: #6c6d70;
  
  vertical-align: middle;
  line-height: 1.5rem;
}

.contactName {
  display: flex;
  align-items: center;
}

.contactImg {
  margin-right: 15px;
}
/* === /table === */