.search-input {
	margin-left: 3%;
	padding-left: 25px;
	height: 46px;
	width: 600px;

	border-radius: 10px;
	background-color: #eff0f3;
	border: none;
	
	font-size: 16px;
}

.search-input:focus {
	background-color: #ffffff;
	border: 0px solid #ffffff;
	outline: #ffffff;
	box-shadow: 0px 0px 2px 0px #5f6874;
}
